:root {
  --main-background: #f9f8f8f8;
  --btn-color: #1768ac;
  --btn-color2: #cc2936;
  --footer: #070b0d;
  --black: #1c1d21;
  --hover-effect: #090e11
}


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}


body {
  display: flex;
  flex-direction: column;
  /* background-color: var(--main-background); */
  /* padding: 15px; */
  background: url(./project_images/background1.jpg) center center/cover no-repeat;

}



a {
  color: black;
  text-decoration: none;
}

/*=============================== NAVIGATION BAR =====================================================*/

.nav_menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  /* border: 1px solid; */
  /* border-radius: 6px; */
  box-shadow: 10px 5px 5px rgb(41, 40, 40);
  background-color: #123247;
  opacity: 0.85;
  color: white;
}

.menu_items {
  display: flex;
  list-style: none;
  color: white;

}

.nav_list{
  padding: 0 20px;
  color: white;
}

.nav_list:hover {
  cursor: pointer;
  transition: ease-in-out;
  transition-delay: 0.25s;
  color: var(--hover-effect);
}

.nav_menu > a {
  color: white;
}

.nav_menu > a:hover {
  cursor: pointer;
  color: var(--hover-effect);
  transition: ease-in-out;
  transition-delay: 300ms;

}

.logo {
  font-size: 20px;
}


/*==================================== Economic Calendar on Home ========================================>*/

.main_content {
  /* border: 1px solid blue; */
  min-height: 80vh;

}

.table_head {
  color: white;
  text-align: center;
  border: 1px solid #1768ac;
  font-size: 25px;
}

.economic_data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.data_table {
  /* border: 1px solid green; */
  justify-content: center;
  align-items: center;
  background-color: var(--footer);
  border-radius: 6px;
  padding: 20px;
}


td {
  padding: 0 50px;
  text-align: center;
  border: 0.5px solid black;
  color: white;
}



/* ======================================= Symbols ============================================= */

.all_symbols {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.symbol {
  font-size: 30px;
  /* border: 1px solid grey; */
  padding: 20px 40px;
  border-radius: 50px;
  background-color: var(--footer);
  color: white;
  margin: 40px;
  box-shadow: 0px 0px 2px 2px #000;
  opacity: 0.8;
}


/*======================================== Footer ==============================================*/

.extras {
  background-color: var(--footer);
  /* border-radius: 6px; */
  align-content: flex-end;
  height: 15vh;

}

.foot_notes {
  /* border: 1px solid; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;

}

.end_note {
  color: white;
}


/*==================================================== Mobile Responsive =========================================*/

@media (min-width: 414px) and (max-height: 736px) {
  body {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .main_content{
    height: 100vh;
    justify-content: center;
    align-items: center;

  }
  .economic_data {
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    overflow: scroll;
    height: 40vh;
  }

  .data_table {
    display: flex;
    flex-direction: column;
    /* overflow: scroll; */
    /* border: 1px solid green; */
    justify-content: center;
    align-items: center;
    background-color: #817f75;
    border-radius: 6px;
  }

  td {
    color: red;
    font-size: 10px;
  }

}

/*==================================================== About Page =================================================*/

.about {
  flex-direction: column;
  min-height: 80vh;
  /* border: 1px solid; */

}

.about,
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  padding: 10px 100px;
  height: 300px;
  width: 700px;
  background-color: #1c1d21;
  border-radius: 6px;
  box-shadow: 0px 0px 1px 1px #000;
}


.portrait {
  float: left;
  height: 257px;
  width: 252px;

}

.bio > p {
  padding: 0 20px;
  color: white;

}

.myPhoto > img {
  border-radius: 20px;

}



/* ===============================================Contact Page ================================================================ */

.contact {
  display: flex;
  flex-direction: column;
  height: 80vh;
  justify-content: center;
  align-items: center;
  font-size: 18px;

}

.main_forms {
  display: flex;
  flex-direction: column;
  /* border: 1px solid black; */
  width: 50vh;
  border-radius: 8px;
  background-color: #1c1d21;
  justify-content: center;
  align-items: center;
  color: white;
  opacity: 0.9;
}

input {
  padding: 10px;
  width: 45vh;
  background: none;
  color: white;
}

label {
  padding: 10px;

}

textarea {
  width: 45vh;
  height: 20vh;
  background: none;
  color: white;

}

.btn_container {
  display: flex;
  align-items: flex-start;
  padding: 10px;

  /* padding-bottom: 10px; */
}



.send_btn {
  width: max-content;
  padding: 0 18px;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  background-color: var(--btn-color);
  color: white;

}

.main_forms.btn_container {
  display: flex;
  align-items: flex-start;
}



/* ============================================== Learn Page ======================================================================= */

.learn {
  display: grid;
  grid-template-columns: repeat(3, 200px);
  grid-template-rows: 50px 50px 50px;
  column-gap: 10px;
  height: 80vh;
  color: white;
  justify-content: center;
  align-self: stretch;align-content: center;
  border: 1px solid black;
}


