:root {
  --main-background: #f9f8f8f8;
  --btn-color: #1768ac;
  --btn-color2: #cc2936;
  --footer: #817f75;
  --black: #1c1d21;
}


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}


body {
  display: flex;
  flex-direction: column;
  background-color: var(--main-background);
  padding: 15px;

}

a {
  color: black;
  text-decoration: none;
}

/*=============================== NAVIGATION BAR =====================================================*/

.nav_menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  /* border: 1px solid; */
  border-radius: 6px;
  box-shadow: 10px 5px 5px rgb(41, 40, 40);
  background-color: var(--footer);
}

.menu_items {
  display: flex;
  list-style: none;

}

.nav_items > a {
  padding: 0 20px;
  list-style: none;
}


/*==================================== Economic Calendar on Home ========================================>*/

.main_content {
  /* border: 1px solid blue; */
  min-height: 80vh;

}

.economic_data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 80vh;
}

.data_table {
  /* border: 1px solid green; */
  justify-content: center;
  align-items: center;
  background-color: #817f75;
  border-radius: 6px;
  padding: 10px;
}


td {
  padding: 0 50px;
  text-align: center;
  border: 0.5px solid black;

}



/*======================================== Footer ==============================================*/

.extras {
  background-color: var(--footer);
  border-radius: 6px;
  align-content: flex-end;
}

.foot_notes {
  /* border: 1px solid; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;

}


/*==================================================== Mobile Responsive =========================================*/

@media screen and (min-width: 414px) and (min-height: 736px) {
  .main_content {
    display: flex;
    flex-direction: column;
  }
  .economic_data {
    display: flex;

  }
}

/*============================================ About Page =============================================*/

.about {
  flex-direction: column;
  min-height: 80vh;
  /* border: 1px solid; */

}

.about,
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {

  padding: 10px 100px;
  height: 300px;
  width: 700px;

}

.myPhoto {

}

.portrait {
  float: left;
  height: 257px;
  width: 252px;

}

.bio > p {
  padding: 0 20px;

}

.myPhoto > img {
  border-radius: 20px;

}
