:root {
  --main-background: #f9f8f8f8;
  --btn-color: #1768ac;
  --btn-color2: #cc2936;
  --footer: #070b0d;
  --black: #1c1d21;
  --hover-effect: #090e11
}


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}


body {
  display: flex;
  flex-direction: column;
  /* background-color: var(--main-background); */
  padding: 15px;
  background: url(./project_images/background1.jpg) center center/cover no-repeat;
}

a {
  color: black;
  text-decoration: none;
}

/*=============================== NAVIGATION BAR =====================================================*/

.nav_menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  /* border: 1px solid; */
  border-radius: 6px;
  box-shadow: 10px 5px 5px rgb(41, 40, 40);
  background-color: #123247;
  opacity: 0.85;
  color: white;
}

.menu_items {
  display: flex;
  list-style: none;
  color: white;

}

.nav_list{
  padding: 0 20px;
  color: white;
}

.nav_list:hover {
  cursor: pointer;
  transition: ease-in-out;
  transition-delay: 0.25s;
  color: var(--hover-effect);
}

.nav_menu > a {
  color: white;
}

.nav_menu > a:hover {
  cursor: pointer;
  color: var(--hover-effect);
  transition: ease-in-out;
  transition-delay: 0.25s;

}


/*==================================== Economic Calendar on Home ========================================>*/

.main_content {
  /* border: 1px solid blue; */
  min-height: 80vh;

}

.table_head {
  color: white;
  text-align: center;
  border: 1px solid #1768ac;
  font-size: 25px;
}

.economic_data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.data_table {
  /* border: 1px solid green; */
  justify-content: center;
  align-items: center;
  background-color: var(--footer);
  border-radius: 6px;
  padding: 20px;
}


td {
  padding: 0 50px;
  text-align: center;
  border: 0.5px solid black;
  color: white;
}



/*======================================== Footer ==============================================*/

.extras {
  background-color: var(--footer);
  border-radius: 6px;
  align-content: flex-end;

}

.foot_notes {
  /* border: 1px solid; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;

}

.end_note {
  color: white;
}


/*==================================================== Mobile Responsive =========================================*/

@media (min-width: 414px) and (max-height: 736px) {
  body {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .main_content{
    height: 100vh;
    justify-content: center;
    align-items: center;

  }
  .economic_data {
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    overflow: scroll;
    height: 40vh;
  }

  .data_table {
    display: flex;
    flex-direction: column;
    /* overflow: scroll; */
    /* border: 1px solid green; */
    justify-content: center;
    align-items: center;
    background-color: #817f75;
    border-radius: 6px;
  }

  td {
    color: red;
    font-size: 10px;
  }

}

/*==================================================== About Page =================================================*/

.about {
  flex-direction: column;
  min-height: 80vh;
  /* border: 1px solid; */

}

.about,
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  padding: 10px 100px;
  height: 300px;
  width: 700px;

}

.myPhoto {

}

.portrait {
  float: left;
  height: 257px;
  width: 252px;

}

.bio > p {
  padding: 0 20px;

}

.myPhoto > img {
  border-radius: 20px;

}
